$primary-color: #f9c887;
$text-color: #1b2b5f;

html {
  font-size: 62.5%; // 1rem = 10px
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
}
//Max width :1440px; 1170
//top 30px;
body {
  font-family: "Poppins", sans-serif;
  color: $text-color;
  line-height: 1.4;
  // margin-bottom: 20rem;
}
@mixin flex(
  $justify: flex-start,
  $align: flex-start,
  $wrap: nowrap,
  $dir: row
) {
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  flex-direction: $dir;
}
@mixin one-row(
  $white-space: nowrap,
  $overflow: hidden,
  $text-overflow: ellipsis
) {
  white-space: $white-space;
  overflow: $overflow;
  text-overflow: $text-overflow;
}
@mixin two-row() {
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto; // center
  margin-bottom: 20rem;
}
//Do padding nên công thêm vô 4 rem cho giống thiết kế 1170+ 40px
.container {
  max-width: 1210px;
  margin: 0 auto; // center
  padding: 0 2rem;
}
.header {
  padding-top: 3rem;
  &__inner {
    display: flex;
    @include flex(space-between, center, nowrap);
  }
  &__menu {
    &-list {
      display: flex;
      @include flex(space-between, center, nowrap);
    }
    &-item {
      margin-left: 5rem;
      &:last-child {
        margin-left: 7rem;
      }
    }
    &-link {
      color: $text-color;
      font-size: 1.6rem;
      transition: all 0.25s linear;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
.logo {
  font-size: 2.7rem;
  font-weight: 800;
  color: $text-color;
  &__text {
    color: $primary-color;
  }
}
.banner {
  padding: 15rem 0;
  max-width: 72rem;
  margin: 0 auto; // center
  text-align: center;
  &__heading {
    font-size: 6.7rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }
  &__desc {
    font-size: 24px;
    margin-bottom: 4rem;
  }
  &__buttons {
    //de kich thuoc cac buton bang nhau, loai bo anh huong thuoc tinh border
    display: flex;
    align-items: stretch;
    justify-content: center;
    // cac item con chua class btn se co inherit margin
    .btn {
      margin: 0 1.2rem;
    }
  }
}
.btn {
  cursor: pointer;
  font-size: 1.8rem;
  text-align: center;
  color: $text-color;
  font-weight: 600;
  outline: none;
  padding: 1.2rem 3.2rem;
  display: inline-block;
  //Do mot so trinh duyet co border va background-color mau xam nen ta xet =0 va transparent
  border: 0;
  background-color: transparent;
  &--border {
    border: 1px solid currentColor;
  }
  &--primary {
    background-color: $primary-color;
    box-shadow: 0 4rem 3rem -2rem $primary-color;
  }
  &--rounded {
    border-radius: 5rem;
  }
}
.category {
  padding-bottom: 18rem;
  &__list {
    display: flex;
    @include flex(space-between, stretch, wrap);
  }

  &__item {
    width: calc(25% - 22.5px);
    padding: 3rem;
    background-color: hsl(330, 100%, 100%);
    border-radius: 28px;
    @include flex(flex-start, stretch, wrap, column);
    &:first-child {
      box-shadow: 2rem 4rem 8rem -2rem rgba(254, 152, 196, 0.4);
    }
    &:first-child img {
      background-color: #fe98c4;
    }
    &:nth-child(2) {
      box-shadow: 2rem 4rem 8rem -2rem rgba(255, 113, 108, 0.4);
    }
    &:nth-child(2) img {
      background-color: #ff716c;
    }
    &:nth-child(3) {
      box-shadow: 2rem 4rem 8rem -2rem rgba(133, 153, 255, 0.4);
    }
    &:nth-child(3) img {
      background-color: #8599ff;
    }
    &:last-child {
      box-shadow: 2rem 4rem 8rem -2rem rgba(255, 200, 123, 0.4);
    }
    &:last-child img {
      background-color: #ffc77b;
    }
  }
  &__img {
    width: 100%;
    height: 23rem;
    object-fit: cover;
    border-radius: inherit;
    margin-bottom: 4rem;
  }
  &__name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 3rem;
    line-height: 24px;
    //luu y chinh heigh = 2 lan lineheight, chuyen the inline thanh the blog
    // height: 48px;
    // display: block;
    // display: -webkit-box;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 2;
    // overflow: hidden;
    // //Mot dong
    // white-space: nowrap;

    // text-overflow: ellipsis;
    @include one-row();
  }
  &__detail {
    font-size: 16px;
    color: #9497a3;
    display: block;
    @include one-row();
  }
}
.feature {
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 15rem;
    &:nth-child(even) {
      flex-direction: row-reverse;
      .feature__info {
        padding-right: 10rem;
      }
    }
    &:nth-child(odd) {
      .feature__info {
        padding-left: 10rem;
      }
    }
  }

  &__img {
    width: 50%;
    & img {
      border-top-left-radius: 5rem;
      border-top-right-radius: 5rem;
    }
  }
  &__info {
    width: 50%;
    // padding-left: 10rem;
  }
  &__title {
    font-size: 4.6rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 3rem;
  }
  &__desc {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 4rem;
  }
  &__intro {
    &-list {
      margin-bottom: 4rem;
    }
    &-item {
      font-weight: 600;
      text-decoration: underline;
      text-underline-position: under;
      font-size: 1.8rem;
      margin-bottom: 2rem;
      &--cirle {
        position: relative;
        text-decoration: none;
        padding-left: 3rem;
        &:before {
          // Lưu ý : before after đứng im va chỉ phụ thuộc và top , left ,right,bottom.Muốn khoảng cách thì duy chuyển thằng chứa nó
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 2rem;
          height: 2rem;
          background-color: red;
          border-radius: 2rem;
          transform: translateY(-50%);
        }
        &:nth-child(2):before {
          background-color: blue;
        }
        &:nth-child(3):before {
          background-color: yellow;
        }
        &:nth-child(4):before {
          background-color: green;
        }
      }
    }
  }
  &__best {
    &-icon {
      width: 3rem;
      height: 3rem;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3rem;
      // color: red;
      position: relative;
      z-index: 2;
      margin-bottom: 1rem;

      &--green {
        color: green;
      }
      &--red {
        color: red;
      }
      &--blue {
        color: blue;
      }
      &--yellow {
        color: yellow;
      }
      //lưu ý : fontawesome đã sử dụng thuộc tính before nên ta áp dụng after khi kết hợp với fontawesome

      &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: currentColor;
        border-radius: inherit;
        opacity: 0.3;
      }
    }
    &-title {
      font-size: 1.8rem;
      font-weight: 600;
    }
    &-desc {
      font-size: 1.4rem;
    }
    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    &-item {
      width: calc(50% - 3rem);
      margin-bottom: 5rem;
    }
  }
}
.text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  &--2 {
    -webkit-line-clamp: 2;
  }
}
.parner {
  &-container {
    max-width: 99rem;
    text-align: center;
    margin-bottom: 23rem;
  }
  &__title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 7rem;
    padding-bottom: 7rem;
    border-bottom: 1px solid currentColor;
  }
  &__list {
    display: flex;
    @include flex(space-between, center, nowrap, row);
  }
}
.connect {
  &-container {
    text-align: center;
    margin-bottom: 7rem;
  }
  &__title {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 4rem;
  }
  &__desc {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 7rem;
    & a {
      color: $primary-color;
    }
  }
  &__list {
    display: flex;
    @include flex(space-between, stretch, nowrap, row);
  }
}
.sebcribe {
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 8rem;
    border-bottom: 5px solid currentColor;
  }
  &__title {
    font-size: 28px;
    font-weight: 600;
    max-width: 43rem;
    margin-right: 13rem;
  }
  &__info {
    flex: 1;
  }
  &__form {
    padding: 2rem;
    background-color: #f2f1f6;
    display: flex;
    margin-bottom: 4rem;
    @include flex(space-between, center, nowrap, row);
  }
  &__input {
    outline: none;
    background-color: transparent;
    border: none;
    flex-grow: 1;
    padding-right: 2rem;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
  }
  &__button {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
  }
  &__social i {
    margin-left: 4rem;
    font-size: 2.4rem;
  }
}
.footer {
  &__container {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    & > a {
      width: 25%;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    width: 75%;
  }
  &__link {
    font-size: 16px;
    margin-bottom: 1rem;
    cursor: pointer;
  }
}
//1440 1366 1280 1024 768 480 320
//<576px: Thiết bị cực nhỏ như điện thoại di động ở chế độ dọc.

// Từ 576px đến <768px: Thiết bị màn hình nhỏ như điện thoại di động ở chế độ ngang

// Từ 768px đến <992px: thiết bị màn hình trung bình như máy tính bảng

// Từ 992px đến <1200px: Thiết bị lớn như máy tính để bàn

// Từ 1200px trở lên: Các thiết bị có màn hình máy tính cực lớn.
//Responsive

// PC >1024px
@media only screen and (min-width: 1024px) {
}
/*Ipad từ 740 đên 1024*/
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .banner {
    padding: 5rem 0;
  }
  .category {
    &__item {
      width: calc(50% - 5px);
      margin-bottom: 2rem;
    }
  }
  .category {
    padding-bottom: 5rem;
  }
  .feature {
    &__item {
      margin-bottom: 5rem;
      &:nth-child(odd) {
        .feature__info {
          padding-left: 3rem;
        }
      }
      &:nth-child(even) {
        .feature__info {
          padding-right: 3rem;
        }
      }
    }
    &__title {
      font-size: 2.4rem;
    }
    &__best {
      &-item {
        width: calc(50% - 1rem);
        margin-bottom: 2rem;
      }
    }
  }
  .parner {
    &-container {
      margin-bottom: 5rem;
    }
    &__title {
      margin-bottom: 3rem;
      padding-bottom: 3rem;
    }
  }
}
// Mobile <740px
@media only screen and (max-width: 739px) {
  .header__menu-list {
    display: none;
  }
  .logo {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .banner {
    padding: 5rem 0;
    &__heading {
      font-size: 2rem;
    }
    &__button .btn {
      margin: 0;
    }
  }
  .category {
    padding-bottom: 5rem;
    &__item {
      width: 100%;
      margin-bottom: 2rem;
    }
    &__name {
      font-size: 2rem;
    }
  }
  .feature {
    &__item {
      flex-wrap: wrap;
      &:nth-child(even) {
        .feature__info {
          padding: 0;
        }
      }
      &:nth-child(odd) {
        .feature__info {
          padding: 0;
        }
      }
      margin-bottom: 2rem;
    }
    &__info {
      width: 100%;
    }
    &__img {
      width: 100%;
    }
    &__title {
      font-size: 2rem;
    }
    &__desc {
      margin-bottom: 1rem;
    }
    &__best {
      &-item {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }
  .parner {
    &-container {
      margin-bottom: 5rem;
    }
    &__title {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 3rem;
      padding-bottom: 3rem;
    }
    &__item-img {
      width: 100%;
    }
  }
  .connect {
    &-container {
      margin-bottom: 5rem;
    }
    &__item {
      &-img {
        width: 50%;
      }
    }
    &__desc {
      margin-bottom: 5rem;
    }
  }
  .sebcribe {
    &-container {
      flex-direction: column;
    }
    &__title {
      font-size: 24px;
      margin-right: 0;
      text-align: center;
    }
  }
  .footer {
    &__container {
      & > a {
        display: none;
      }
    }
    &__list {
      width: 100%;
      flex-wrap: wrap;
    }
    &__item {
      width: 100%;
    }
  }
}
// /*Iphone(480 x 640)*/
// @media screen and (max-width: 319px) {
// }
// /*Smart phone nhỏ*/
// @media screen and (max-width: 239px) {
// }
